{% extends 'C:\MyFiles\Projects\Mini Project\Deployment\Test\demo_django\web4\main\templates\index.html' %}

{% load static %}


{% block topbar %}

    <ul class="nav nav-tabs nav-fill nav-justified justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'gas-analysis' %}">Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gas-forecast' %}">Forecast</a>
        </li>
    </ul>

{% endblock topbar %}

{% block heading %}

    <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">NATURAL GAS</h1>
    </div>

{% endblock heading %}

{% block price1 %}
    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
        Last Price
    </div>
    <div class="h5 mb-0 font-weight-bold text-gray-800">${{ last_price }}</div>
{% endblock price1 %}

{% block price2 %}
    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
        Price after 30 days
    </div>
    <div class="h5 mb-0 font-weight-bold text-gray-800">${{ price_after_30_days }}</div>
{% endblock price2 %}

{% block price3 %}
    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
        Price after 60 days
    </div>
    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">${{ price_after_60_days }}</div>
{% endblock price3 %}

{% block price4 %}
    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
        %change
    </div>
    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ per_change }}%</div>
{% endblock price4 %}

{% block content %}

<!--    <br>-->
<!--    <div class="card shadow">-->
<!--        <div>-->
<!--            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                <h6 class="m-0 font-weight-bold text-primary">Predicted price</h6>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <div class="chart-area">-->
<!--                    <canvas id="predict-line" data-url="{% url 'silver-forecast-api' %}"></canvas>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <br>-->
<!--    <hr class="sidebar-divider">-->
<!--    <br>-->

    <br>
    <div class="card shadow">
        <div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">RSI</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="rsi-line" data-url="{% url 'gas-forecast-api' %}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <br>
    <hr class="sidebar-divider">
    <br>

    <br>
    <div class="card shadow">
        <div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">MACD</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="macd-line" data-url="{% url 'gas-forecast-api' %}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <br>
    <hr class="sidebar-divider">
    <br>

    <br>
    <div class="card shadow">
        <div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Buy/Sell signals</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="buysell-line" data-url="{% url 'gas-forecast-api' %}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <br>
    <hr class="sidebar-divider">
    <br>


    <!-- AJAX -->
    <script src="{% static 'js/forecast.js' %}"></script>

{% endblock content %}

